<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h3>Dear <%= @edumail.imie %> <%= @edumail.nazwisko %>, Here is a message for you from EduDomen.com</h3>
    
    <p> Your Edu Domen is: <%= @edumail.edu_mail %> </p>
    <p> Your Password is: <%= @edumail.edu_password %> </p>
    <p> Your status: <%= @edumail.status %> </p>


    <p>Thanks for joining and have a great day!</p>
  </body>
</html> 